.background_f {
  background: #ffffff;
}

.background_e {
  background: #eeeeee;
}

.background_f9 {
  background: #f9f9f9;
}

.background_e5 {
  background: #e5e5e5;
}

.background_0 {
  background: #000000;
}

.background_3 {
  background: #333333;
}

.background_6 {
  background: #666666;
}

.background_9 {
  background: #999999;
}
