.color_f {
  color: #ffffff;
}

.color_e {
  color: #eeeeee;
}

.color_f9 {
  color: #f9f9f9;
}

.color_e5 {
  color: #e5e5e5;
}

.color_red {
  color: red;
}

.color_0 {
  color: #000000;
}

.color_3 {
  color: #333333;
}

.color_6 {
  color: #666666;
}

.color_9 {
  color: #999999;
}

.color_ea {
  color: #409eff;
}
.color_06 {
  color: #062159;
}
